<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>OfferHound</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.football</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Football</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.basketball</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Basketball</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.track-field</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Track Field</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.soccer</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Soccer</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.baseball</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Baseball</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.lacrosse</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Lacrosse</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.golf</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Golf</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.volleyball</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Volleyball</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.swimming</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Swimming</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.softball</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Softball</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.hockey</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Hockey</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.cheerleading</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Cheerleading</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.emergentmindlab.offerhoundv2.Clip.wrestling</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Wrestling</string>
		</dict>
	</array>
</dict>
</plist>
